.App {
  text-align: center;
}

.op-title {
  background: black;
  width: 100%;
  height: 60px;
  display: flex;
  color: white;
  font-weight: 600;
  font-size: 30px;
  align-items: center;
}

.op-title-img {
  width: 100%;
  pointer-events: none;
}

.op-post-img {
  width:200px;
}

.op-write {
  text-align: left;
  input[type=text] {width: 80%}
  input[type=text] {height: 30px;}
  padding-left: 50px;
}

.write-content {
  input[type=text] {height: 200px;}
}

.write-namepw {
  input[type=text] {width: 150px;}
}

.blank {
  height: 100px;
}

.button-design1 {
  height: 50px;
  width: 100px;
  margin: 20px;
}

.p-margin {
  margin-bottom: 40px;
}

.link-style1 {
  text-decoration: none;
  color: white;
  margin-left: 30px;
}

.link-style2 {
  text-decoration: none;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
